#define INCL_PM
#include "os2.h"
#include "mlabpm.rch"

ICON ID_MLAB MAINICON.ICO
ICON ID_MLEDIT MLEDIT.ICO

/* Bitmaps */
BITMAP ID_BMP_PLAY0  LOADONCALL MOVEABLE DISCARDABLE PLAY0.BMP
BITMAP ID_BMP_PLAY1  LOADONCALL MOVEABLE DISCARDABLE PLAY1.BMP
BITMAP ID_BMP_PLAY2  LOADONCALL MOVEABLE DISCARDABLE PLAY2.BMP
BITMAP ID_BMP_PLAY3  LOADONCALL MOVEABLE DISCARDABLE PLAY3.BMP
BITMAP ID_BMP_PLAY4  LOADONCALL MOVEABLE DISCARDABLE PLAY4.BMP
BITMAP ID_BMP_PAUSE  LOADONCALL MOVEABLE DISCARDABLE PAUSE.BMP
BITMAP ID_BMP_REC0   LOADONCALL MOVEABLE DISCARDABLE REC0.BMP
BITMAP ID_BMP_REC1   LOADONCALL MOVEABLE DISCARDABLE REC1.BMP
BITMAP ID_BMP_LOAD   LOADONCALL MOVEABLE DISCARDABLE LOAD.BMP
BITMAP ID_BMP_FASTF  LOADONCALL MOVEABLE DISCARDABLE FASTF.BMP
BITMAP ID_BMP_FASTF1 LOADONCALL MOVEABLE DISCARDABLE FASTF1.BMP
BITMAP ID_BMP_NOTESOFF LOADONCALL MOVEABLE DISCARDABLE NOTESOFF.BMP
BITMAP ID_BMP_RESET  LOADONCALL MOVEABLE DISCARDABLE RESET.BMP
BITMAP ID_BMP_METRO1 LOADONCALL MOVEABLE DISCARDABLE METRO1.BMP
BITMAP ID_BMP_METRO2 LOADONCALL MOVEABLE DISCARDABLE METRO2.BMP
BITMAP BMP00         LOADONCALL MOVEABLE DISCARDABLE MLAB00.BMP

ACCELTABLE ID_MLAB
BEGIN
  VK_ESC,MN_B1,         VIRTUALKEY
  VK_F2, IDM_MIDITHRU,  VIRTUALKEY
  VK_F3, IDM_F_EXIT,    VIRTUALKEY
  VK_F4, IDM_E_CREATE,  VIRTUALKEY
  VK_F5, MN_B0,         VIRTUALKEY
  VK_F6, IDM_METRO,     VIRTUALKEY
  VK_F7, IDM_C_MAIN,    VIRTUALKEY
  VK_F8, IDM_O_USERPREF,VIRTUALKEY
  VK_F9, IDM_F_OPEN,    VIRTUALKEY
  ";"  , IDM_O_INDEXDISPLAY
  " "  , MN_B5
  "b"  , IDM_O_BULKDUMPRESTORE
  "g"  , IDM_O_PGMCHNG
  "j"  , IDM_O_BIGBARS
  "o"  , MN_B3
  "p"  , MN_B7
  "r"  , MN_B4
  "s"  , IDM_F_SAVE
  "t"  , IDM_O_TRACE_C1        // T - Trace Dlg box
END

ACCELTABLE ID_MLEDIT
BEGIN
  VK_F3, IDM_F_EXIT_C1, VIRTUALKEY  // Close Song edit window
  VK_F4, IDM_E_CLEAR,   VIRTUALKEY  // Refresh window
  VK_F5, IDM_E_RESET,   VIRTUALKEY  // Reset MidiLab/2
  VK_F6, IDM_E_METRO,   VIRTUALKEY  // Toggle metronome
  "p"  , IDM_E_PLAY                 // Start Play
  " "  , IDM_E_PAUSE                // Pause play
END

MENU ID_MLAB
  BEGIN
    SUBMENU  "~File", IDM_FILE, MIS_TEXT
      BEGIN
        MENUITEM "~New",        IDM_F_NEW,  MIS_TEXT
        MENUITEM "~Open...",    IDM_F_OPEN, MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "~Save   S",   IDM_F_SAVE, MIS_TEXT
        MENUITEM "Save ~as...", IDM_F_OPEN, MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "Save ~Prefs", IDM_F_SAVPRF, MIS_TEXT
        MENUITEM "E~xit   F3",  IDM_F_EXIT, MIS_TEXT
      END

    SUBMENU  "~Edit",            IDM_EDIT_HELP, MIS_TEXT
      BEGIN
        MENUITEM "~Song Editor", IDM_E_CREATE,  MIS_TEXT
      END

    SUBMENU  "~Controls",        IDM_CONTROLS,  MIS_TEXT
      BEGIN
        MENUITEM "~Main...   F7",IDM_C_MAIN,    MIS_TEXT
      END

    SUBMENU  "~Utilities", IDM_ESOTERICA,       MIS_TEXT
      BEGIN
        MENUITEM "~Bulk Dump/Restore...", IDM_O_BULKDUMPRESTORE, MIS_TEXT
        MENUITEM "~Data Trace...", IDM_O_TRACE_C1,               MIS_TEXT
        MENUITEM "~Remote Control setup...", IDM_O_RMTCTL,       MIS_TEXT
        MENUITEM "~Send program change...", IDM_O_PGMCHNG,       MIS_TEXT
        MENUITEM "~User preferences...", IDM_O_USERPREF,         MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "~Index display", IDM_O_INDEXDISPLAY,,          MIA_CHECKED
        MENUITEM "~Jumbo measure display", IDM_O_BIGBARS,        MIS_TEXT
      END

    SUBMENU "~Help",                              IDM_H_HELP
      BEGIN
        MENUITEM "~Help for help",               IDM_H_HELPFORHELP
        MENUITEM "~General help",                SC_HELPEXTENDED, MIS_SYSCOMMAND
        MENUITEM "~Keys help",                   SC_HELPKEYS, MIS_SYSCOMMAND
        MENUITEM "Help ~index",                  SC_HELPINDEX, MIS_SYSCOMMAND
        MENUITEM SEPARATOR
        MENUITEM "~Product information",        IDM_H_ABOUT
      END
  END

MENU ID_MLEDIT
  BEGIN
    SUBMENU  "~File", IDM_FILE_C1,              MIS_TEXT
      BEGIN
        MENUITEM "~Save", IDM_F_SAVE_C1,        MIS_TEXT,MIA_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "E~xit  F3", IDM_F_EXIT_C1,    MIS_TEXT
      END

    SUBMENU  "~Edit", IDM_EDIT_C1,              MIS_TEXT
      BEGIN
        MENUITEM "~Cut", IDM_E_CUT,             MIS_TEXT, MIA_DISABLED
        MENUITEM "Cop~y", IDM_E_COPY,           MIS_TEXT, MIA_DISABLED
        MENUITEM "~Paste", IDM_E_PASTE,         MIS_TEXT, MIA_DISABLED
        MENUITEM "~Delete", IDM_E_DELETE,       MIS_TEXT, MIA_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "~Track Edit", IDM_E_TRKED,    MIS_TEXT, MIA_DISABLED
      END

    SUBMENU  "F~unction", IDM_FUNCTION_C1,      MIS_TEXT
      BEGIN
        MENUITEM "~Play  P",  IDM_E_PLAY,       MIS_TEXT
        MENUITEM "Pa~use  Sp", IDM_E_PAUSE,     MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "~Refresh  F4", IDM_E_CLEAR,   MIS_TEXT
        MENUITEM "~SysReset F5", IDM_E_RESET,   MIS_TEXT
        MENUITEM "~Grid lines",  IDM_E_GRID,    MIS_TEXT
      END

    SUBMENU "~Help",                             IDM_H_HELP
      BEGIN
        MENUITEM "~Help for help",               IDM_H_HELPFORHELP
        MENUITEM "~General help",                SC_HELPEXTENDED, MIS_SYSCOMMAND
        MENUITEM "~Keys help",                   SC_HELPKEYS, MIS_SYSCOMMAND
        MENUITEM "Help ~index",                  SC_HELPINDEX, MIS_SYSCOMMAND
      END
  END

STRINGTABLE
BEGIN
  IDS_TITLE, "MidiLab/2 V3.04"
  IDS_MLEDIT_TITLE, "MidiLab/2 Song Editor"
  IDS_ERR_WINDOW_CREATE, "Window creation failed!"
  IDS_ERR_WINDOW_POS, "Window positioning failed!"
  IDS_NO_HELP, "No help is available."
  IDS_HELP_TERM, "Help Terminated Due to Error"
  IDS_HELP_OCCRD, "Help Error Occurred"
  IDS_HELP_TERM_TITLE, "Help Error"
  IDS_APP_EXE_NAME, "MLABPM.EXE"
  IDS_APP_NAME, "MidiLab/2"
  IDS_APP_C1_NAME, "Song Editor"
  IDS_DISK_ERR, "Error selecting drive; returning to previous drive."

  IDS_NONE  "None"
  IDS_MX_8, "MX-8"
  IDS_SYNCMAN, "SYNCMAN"
  IDS_DX7, "DX7"
  IDS_TX816, "TX816"
  IDS_HR16, "HR-16"
  IDS_TX81Z "TX81Z"
  IDS_SPX90 "SPX90"
  IDS_U220, "U220"

  IDS_TSG2  "2/4"
  IDS_TSG3  "3/4"
  IDS_TSG4  "4/4"
  IDS_TSG5  "5/4"
  IDS_TSG6  "6/4"
  IDS_TSG7  "7/4"
  IDS_TSG8  "8/4"
  IDS_TSG9  "9/4"

  IDS_TB48  "48"
  IDS_TB72  "72"
  IDS_TB96  "96"
  IDS_TB120 "120"
  IDS_TB144 "144"
  IDS_TB168 "168"
  IDS_TB192 "192"
  IDS_TB216 "216"
  IDS_TB240 "240"

  IDS_QNT_OFF  "OFF"
  IDS_QNT4     "1/4"
  IDS_QNT6     "1/6"
  IDS_QNT8     "1/8"
  IDS_QNT12    "1/12"
  IDS_QNT16    "1/16"
  IDS_QNT24    "1/24"
  IDS_QNT32    "1/32"

/* Colors range from -3 to 15 including 0 */
  C_DEFAULT    "Default"
  C_WHITE      "White"
  C_BLACK      "Black"
  C_BACKGROUND "Background"
  C_BLUE       "Blue"
  C_RED        "Red"
  C_PINK       "Pink"
  C_GREEN      "Green"
  C_CYAN       "Cyan"
  C_YELLOW     "Yellow"
  C_NEUTRAL    "Neutral"
  C_DARKGRAY   "Dark grey"
  C_DARKBLUE   "Dark blue"
  C_DARKRED    "Dark red"
  C_DARKPINK   "Dark pink"
  C_DARKGREEN  "Dark green"
  C_DARKCYAN   "Dark cyan"
  C_BROWN      "Brown"
  C_PALEGRAY   "Pale gray"
END

HELPTABLE ID_MLAB
BEGIN
   HELPITEM ID_MLAB,       ID_MLAB, ID_MLAB
   HELPITEM IDLG_ABOUT,    ID_MLAB, IDLG_ABOUT
   HELPITEM IDLG_FILEOPEN, ID_MLAB, IDLG_FILEOPEN
   HELPITEM IDLG_CTLPANEL, ID_MLAB, IDLG_CTLPANEL
   HELPITEM IDLG_SYSEX,    ID_MLAB, IDLG_SYSEX
   HELPITEM IDLG_SPECFUNC, ID_MLAB, IDLG_SPECFUNC
   HELPITEM IDLG_RECRD,    ID_MLAB, IDLG_RECRD
   HELPITEM IDLG_PGMCHNG,  ID_MLAB, IDLG_PGMCHNG
   HELPITEM IDLG_RMTCTL    ID_MLAB, IDLG_RMTCTL
   HELPITEM IDLG_TRACE     ID_MLAB, IDLG_TRACE
   HELPITEM IDLG_EDIT1     ID_MLAB, IDLG_EDIT1
   HELPITEM IDLG_INS_MENU  ID_MLAB, IDLG_INS_MENU
   HELPITEM IDLG_ASSIGN    ID_MLAB, IDLG_ASSIGN
   HELPITEM IDLG_NAMETRK   ID_MLAB, IDLG_NAMETRK
   HELPITEM IDLG_TRKSIZE   ID_MLAB, IDLG_TRKSIZE
END

HELPSUBTABLE ID_MLAB
BEGIN
   HELPSUBITEM     IDM_FILE, IDM_FILE
   HELPSUBITEM     IDM_F_NEW, IDM_F_NEW
   HELPSUBITEM     IDM_F_OPEN, IDM_F_OPEN
   HELPSUBITEM     IDM_F_EXIT, IDM_F_EXIT
   HELPSUBITEM     IDM_E_CREATE, IDM_E_CREATE
   HELPSUBITEM     IDM_E_CLOSE, IDM_E_CLOSE
   HELPSUBITEM     IDM_CONTROLS, IDM_CONTROLS
   HELPSUBITEM     IDM_C_MAIN, IDM_C_MAIN
   HELPSUBITEM     IDM_O_USERPREF, IDM_O_USERPREF
   HELPSUBITEM     IDM_ESOTERICA, IDM_ESOTERICA
   HELPSUBITEM     IDM_O_BULKDUMPRESTORE, IDM_O_BULKDUMPRESTORE
   HELPSUBITEM     IDM_O_INDEXDISPLAY, IDM_O_INDEXDISPLAY
   HELPSUBITEM     IDM_O_RMTCTL, IDM_O_RMTCTL
   HELPSUBITEM     IDM_O_BIGBARS, IDM_O_BIGBARS
   HELPSUBITEM     IDM_O_USERPREF, IDM_O_USERPREF
   HELPSUBITEM     IDM_O_PGMCHNG, IDM_O_PGMCHNG
   HELPSUBITEM     IDM_O_TRACE_C1, IDM_O_TRACE_C1
END

HELPTABLE ID_MLEDIT
BEGIN
   HELPITEM ID_MLAB,     ID_MLAB, ID_MLAB
END

rcinclude mlabpm.dlg
